:root {
  --link-color: #3885cc;
}

html {
  background-color: #f3f3f3;
  background: url(./bg.jpg) no-repeat center center fixed;
  background-size: cover;

  color: #111111;
  font-family: 'Fira Sans', sans-serif;

  text-rendering: optimizeLegibility;
  letter-spacing: .03em;
  line-height: 1.5;
}

a, a:hover, a:active, a:visited {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 2px solid var(--link-color);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(255,255,255,.75);
}

.wrapper {
  margin: 0 auto;
  padding: 2rem;
  max-width: 720px;
}

.nav-wrapper {
  display: flex;
}

.nav-title {
  position: relative;
  padding: 60px 0 50px 0;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: .05em;
  line-height: 1.2em;
  white-space: nowrap;
}

.nav-logo {
  display: block;
  position: relative;
  height: 42px;
  top: 10px;
  margin: auto;
  animation-delay: 1s;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: system-ui;
}

.nav-links > a {
  margin: .2rem 0;
  padding: .3rem .8rem;
  color: #111111;
  border: none;
  border-radius: 1rem;
  text-align: center;
}

.nav-links > a:hover {
  color: #f9f9f9;
  background-color: #bfb7a6;
}

.bio {
  animation-delay: .5s;
}

.social-media {
  padding-top: 20px;
}

.social-media > svg {
  height: 32px;
  width: 32px;
  fill: #999999;
  cursor: pointer;
}

.social-media > svg:hover {
  fill: #777777;
}

@media (max-width: 767px) {
  .nav-wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .nav-links {
    display: flex;
    flex-grow: 1;
  }
  .nav-links > a {
    flex-grow: 1;
  }
}

